
<h1 class="heading">Audio To Text Translator</h1>
<div class="grid">
  <div class="flex align-items-center justify-content-center sm:col-4 col-12">
    
    <button pButton type="button" label="Record" [disabled]="disableStartButtons"
    (click)="startRecording()" ></button>
  </div>
  <div class="flex align-items-center justify-content-center sm:col-4 col-12">
    <button pButton type="button" label="Stop" [disabled]="disableStopButtons"
    (click)="stopRecording()" ></button>
  </div>
  <div class="flex align-items-center justify-content-center sm:col-4 col-12">
    <button pButton type="button" label="Download" [disabled]="disableDownloadButtons"
    (click)="download()" ></button>
  </div>
</div>